<!DOCTYPE html>
<html lang="en" xmlns:th:="http://www.thymeleaf.org">
<head th:replace="fragments/base :: head('File upload successful!')"></head>

<body>

	<section class="hero is-fullheight is-primary" role="main">
		<div th:replace="fragments/base :: navbar('csv')"></div>
		<div class="hero-body">
			<div class="container">
				<div class="columns is-centered">
					<div class="column is-half">					
						<h1 class="title has-text-centered has-text-weight-bold">Nice!</h1>
						<div class="content has-text-centered">
							<p>All the items have been uploaded okay. Next, try <a style="color: hsl(229deg, 53%, 53%);" id="sift-link" th:href="@{/data/sift}">sifting through the items</a> to make sure I know what each thing is.</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>

	<script th:replace="fragments/base :: scripts"></script>

</body>

</html>